vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Sep 2012 04:32:41 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|gallery_one.html gallery.html gallery_two.html gallery_three.html lightbox2.51/lightbox/index.html Archives/maillette-gallery.dwt
vti_author:SR|Anna-PC\\Anna_2
vti_modifiedby:SR|Anna-PC\\Anna_2
vti_timecreated:TR|11 Sep 2012 03:33:52 -0000
vti_nexttolasttimemodified:TR|11 Sep 2012 04:32:28 -0000
vti_cacheddtm:TX|11 Sep 2012 04:32:41 -0000
vti_filesize:IR|3945
vti_cachedlinkinfo:VX|S|data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 S|../prev.png S|../next.png
vti_cachedsvcrellinks:VX|NSUS|data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 FSUS|housekeeping/prev.png FSUS|housekeeping/next.png
