vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Sep 2012 03:47:39 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|lightbox2.51/lightbox/index.html
vti_author:SR|Anna-PC\\Anna_2
vti_modifiedby:SR|Anna-PC\\Anna_2
vti_timecreated:TR|11 Sep 2012 03:33:52 -0000
vti_nexttolasttimemodified:TR|11 Sep 2012 03:46:17 -0000
vti_cacheddtm:TX|11 Sep 2012 03:47:39 -0000
vti_filesize:IR|21346
vti_cachedlinkinfo:VX|S|../../images/bg-checker.png S|../../images/bullet.gif
vti_cachedsvcrellinks:VX|FSUS|images/bg-checker.png FSUS|images/bullet.gif
