vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Oct 2012 16:07:08 -0000
vti_extenderversion:SR|12.0.0.6211
vti_author:SR|Anna-PC\\Anna_2
vti_modifiedby:SR|Anna-PC\\Anna_2
vti_timecreated:TR|05 Sep 2011 22:07:04 -0000
vti_backlinkinfo:VX|contact.html gallery_one.html gallery_two.html artist_statement.html Archives/maillette-front.dwt gallery.html artist_resume.html gallery_three.html Archives/maillette-others.dwt index.html Archives/maillette-gallery.dwt
vti_nexttolasttimemodified:TW|01 Oct 2012 03:48:37 -0000
vti_cacheddtm:TX|01 Oct 2012 16:07:08 -0000
vti_filesize:IR|2724
